<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="cord-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <P>{{member.city}}, {{member.country}}</P>
                </div>
                <div>
                    <strong>Age:</strong>
                    <P>{{member.age}}</P>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <P>{{member.lastActive}}</P>
                </div>
                <div>
                    <strong>Memebr since:</strong>
                    <P>{{member.created}}</P>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="memeber-tabset">
            <tab heading="About" {{memebr.KnownAs}}>
            <h4>Description</h4>
            <P>{{member.introduction}}</P>
            <h4>Looking For</h4>
            <P>{{member.lookingFor}}</P>
            </tab>
            <tab heading="Interests">
                <h4>Interests</h4>
                <P>{{member.interests}}</P>
            </tab>
            <tab heading="Photos">
                <P>Photos will go here</P>
            </tab>
            <tab heading="Messages">
                <P>Messages will go here </P>
            </tab>
        </tabset>
    </div>
</div>